body {
  margin: 0;
  padding: 0;
  text-align: ;
  background-color: rgb(168, 219, 235);
  }
h1, h2 {
  color: gray;
  text-align: center;
}
#navbar {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgb(18, 158, 214);
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  }
#navbar a {
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
  color: yellow;
}
#welcome-section {
  margin-top: 10px;
  margin-bottom:15px;
  height: 30vh;
  color: rgb(29, 87, 161);
  padding-top: 20vh;
}
#projects {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 2px solid rgb(114, 228, 243);
  border-radius: 15px;
  background-color: rgb(149, 212, 212);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.project-tile {
  background-color: rgb(121, 212, 212);
  width: 50%;
  padding: 20px;
  border: 2px solid rgb(86, 203, 233);
  margin-bottom: 15px;
}
.project-tile img {
  display: block;
  width: 50%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
}
#footer {
  height:100px;
  background-color: rgb(9, 118, 168);
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #welcome-section {
  height: 100px;
  }
}
